<h1>Dobrodosli na kviz o opcem znanju</h1>
<h2>Vas domacin je velepostovani Amer Kovac, tvorac ovog supermocnog kviza</h2>
<h3>Pitanja su iz oblasi opce kulture, ukoliko niste rijesili kviz sto postotnim procentom imam losu vijest za vas</h3>

{{!-- <form action="/kviz" method="POST">
    <input type="text" name="newID" placeholder="Enter your ID"/>
    <input type="submit" value="Click here to submit the form"/>
</form> --}}


<form action="/kviz", method="GET">
    <input type="submit" id="button_id" value="Pokreni kviz">
</form>


{{!-- <div id="div_id"></div> --}}

{{!-- <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

<script src="/javascripts/skriptaZahendlanjeButtona.js" type="text/javascript"></script>  --}}
{{!-- defoltna postavka appa ne moze sa ovim ali moze dodano ali s onda bez ajaxa kojeg jos nisam probao ne moze pokrenuti post request --}}
