<h1>Kviz</h1>

<form method="GET" action="/kviz">
    <div id="div_id" name="pitanje"> {{ data.pitanje.tekstPitanja }} </div> </br> 
        {{# each data.odgovori }}
                <input type="hidden" value={{{@index}}}>
                <input type="radio" name="odgovor" value={{{@index}}}> {{ this.tekst }} </br></br>
        {{/each}}
    <input type="submit" value="Sljedece pitanje">
</form>